body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1000px;
    max-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: #9371db;
    background: white;
    gap: 2rem;
    div {
        background: white;
        padding: 1rem;
        border-radius: 50px;
        height: 150px;
    }
    p {
        text-align: center;
        margin-bottom: 2rem;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: #9371db;
        padding: 1rem;
        border-radius: 35px;
        font-weight: 500;
        

    }

    .footer {
        margin-top: 4rem;
        .copyright {
            color:#9371db;
        }
        .color {
            color: white;
        }
    }
}


